body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    background: linear-gradient(45deg, rgb(33, 33, 123), rgb(216, 213, 213));
    height: 100vh;
  }
  


header {
    margin: 40px 40px 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header h1{
    font-size: 2em;
    font-family: 'Roboto mono', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}

.container {
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

textarea {
    resize: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    padding: 20px;
    background: rgba(242, 237, 237, 0.67);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(13, 13, 13, 0.656);
    text-align: justify;
}

.saida-convertida{
    width: 450px;
    height: 350px;
    resize: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    padding: 20px;
    background: rgba(26, 25, 25, 0.992);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(13, 13, 13, 0.656);
    text-align: justify;
    word-wrap:break-word;
    color: rgb(216, 213, 213);
}

.entrada-texto {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction:  column;
    text-align: center;
    padding: 20px;

}

.entrada-texto p {
    margin: 15px 0 0 0;
    font-size: 0.8em;
}

.butons{
    margin: 18px auto;
    display: flex;
    gap: 24px;
}

.btn-criptografar, .btn-descriptografar {
    width: 250px;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    transition: 0.5s all;
    font-size: 1em;
    letter-spacing: 1px;
}

.btn-criptografar {
    background: rgb(244, 244, 244);
    box-shadow: 3px 3px 4px rgba(241, 239, 239, 0.279);
}

.btn-descriptografar {
    background: rgb(0, 0, 0);
    box-shadow: 3px 4px 4px rgba(66, 64, 64, 0.554);
    color: rgb(216, 213, 213);
}

.btn-criptografar:hover {
    background: rgba(198, 195, 195, 0.876);
}

.btn-descriptografar:hover {
    background: rgba(39, 37, 37, 0.912);
    
}

.saida-texto {
    /* border: 2px solid rgb(136, 199, 19); */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* background: rgba(71, 70, 70, 0.67);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(13, 13, 13, 0.656); */
}

.saida-texto h2 {
    font-weight: bold;
    line-height: 30px;
    font-family: 'Roboto mono', sans-serif;
}

.btn-copiar {
    margin-top: 24px;
    width: 200px;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.5s all;
    font-size: 1em;
    letter-spacing: 1px;
    color: rgb(216, 213, 213);
    background: rgb(12, 89, 165);
    box-shadow: 3px 3px 4px rgba(48, 47, 47, 0.279);
    font-weight: bold;
}

.btn-copiar:hover {
    background: rgba(10, 112, 214, 0.953);
}

.saida-texto img {
    margin: 20px 0;
}

#mensagem, .mensagem-passada {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

/* Footer */

footer {
    background-color: var(--cor2);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    color: var(--cor5);
    font-weight: 600;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}